<div class="jumbotron" style="
 background-image:url(https://universidadean.edu.co/sites/default/files/ofertaacademica/interna/pregrado-en-negocios-internacionales-presencial.jpg);
 ">
	<div class="container" >
		<h1 class="display-3">Leilão Reverso</h1>
		<p>Sistema de gerenciamento Farmaceutico!</p>
	</div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4" id="sec">
    <div class="thumbnail">
      <div class="caption">
        <p>
		O Leilão Reverso é uma pltaforma de negociações para donos de farmacias e fornecedores, 
		buscando facilitar, agilizar e melhorar as negoiações entre cliente e fornecedor.
		</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4" id="sec">
    <div class="thumbnail">
      <div class="caption">
        <p>
		Nosso foco é facilitar a vida de donos de farmacia e fornecedores, automatizando os médotodos de negociação.
		</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4" id="sec">
    <div class="thumbnail">
      <div class="caption">
        <p>
		Não perca mais tempo, para de realizar serviços manuais, você não precisa mais passar dias pesquisando o melhor fornecedor,
		e os melhores preços, como o Leilão Reverso a agilidade é praticidade é garantida.
		</p>
      </div>
    </div>
  </div>
</div>

